body{
  background-color: rgba(30, 0, 255, 0.301);
  color: #f3f3f3;
  font-family: sans-serif;
  width: 100%;
  height: auto;
}
h1 {
  text-align: center;
}
p{
  text-align: center;
  font-style:italic;
}

form{
  background-color: rgba(17, 17, 39, 0.8);
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  height: auto;
}

#personal-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  border: 0;
  margin: 10px;
  padding: 10px;
}
#full-name #email #Age{ 
  border: 0;
  display: inline-block;
}

#survey-info{
  border: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

input[type="radio"]{
  display: inline-flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  width: 50%;
  align-items: center;
}

#favorite-feature{
  border: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

#improvement{
  border: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

input[type="checkbox"]{
  display: inline-flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  width: 50%;
  align-items: center;
}

textarea {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  width: 100%;
  align-items: center;
}

input[type="submit"]{
  color: white;
  background-color: greenyellow;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}