body{
  background-color: rgba(30, 0, 255, 0.301);
  color: #f3f3f3;
  font-family: sans-serif;
  width: 100%;
  height: auto;
}
h1 {
  text-align: center;
  margin-bottom: 0px;
}
p{
  text-align: center;
  font-style:italic;
  font-size: 1.6em;
  margin-top: 0px;
}

form{
  background-color: rgba(17, 17, 39, 0.8);
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  height: auto;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

/* label{
  display: flex;
  flex-direction: column;
  align-items: left;
  flex-wrap: nowrap;
  /* width: 100%; 
  margin: 10px;
  color: #f3f3f3;
  margin: 10px;
} */

#personal-info{
  display: flex;
  flex-direction: column;
  align-items: left;
  flex-wrap: nowrap;
  border: 0;
  margin: 10px;
  padding: 10px;
}
label[for="full-name"], label[for="email"], label[for="Age"]{
  color: #f3f3f3;
  font-size: 1.2em;
  margin: 10px;
  display: block;
  justify-content: left;
  align-items: left;
  flex-wrap: nowrap;
  width: auto;
  border-radius: 10px;
}
input[type="text"], input[type="email"], input[type="number"]{
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

#survey-info{
  border: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  flex-wrap: nowrap;
}

label[for="recommendation"]{
  color: #f3f3f3;
  font-size: 1.4em;
  margin: 10px;
  display: inline-block;
  width: 100%;
}

input[type="radio"]{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  float: left;
}

#favorite-feature{
  border: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
}

#improvement{
  border: 0;
  display: block;;
  width: 100%;
}

label[for="improve"]{
  color: #f3f3f3;
  font-size: 1.4em;
  margin: 10px;
  width: 100%;
  justify-content: center;
  float: left;  
}

input[type="checkbox"]{
  display: inline-block;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  width: 100%;
  align-items: center;
}

textarea {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  width: 100%;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 1.4em;
}

input[type="submit"]{
  display: block;
  flex-direction: column;
  color: white;
  background-color: rgba(172, 255, 47, 0.756);
  margin: 10px;
  /* size: 1.5em; */
  border-radius: 5px;
  font-size: 1.3rem;
}